<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daksh | Portfolio</title>
    <!-- Meta For SEO -->
    <meta name="description" content="I am Daksh Kishore, A professional and experienced WEB developer, MERN Developer, SEO Specialist and SM Marketer.">
    <meta name="keywords" content="portfolio, Animated Portfolio, Personal Branding, Creative Portfolio, Digital Animation, Visual Portfolio, Interactive Portfolio, Portfolio Animation, Showcase Animation, Portfolio Design, Animated CV, Portfolio Presentation, Custom Animation, Portfolio Showcase, Dynamic Portfolio, Portfolio Highlights, Professional Animation, Portfolio Graphics, Animated Resume, Visual Storytelling, Portfolio animated">
    <meta name="author" content="Daksh Kishore">
    <!-- Fav Icon -->
    <link rel="shortcut icon" href="./cdns/img/favicon.webp" type="image/x-icon">
    <!-- external links -->
    <link rel="stylesheet" href="./css/output.css">
    <link rel="stylesheet" href="./css/onlineFeature.css">
</head>
<style>
[checked-button]::after,[checked-button]::before {transform: scale(0)}
[checked-button]{box-shadow: inset 0px 0px 25px var(--pri-clr)}
</style>
<body class="Theme1"> 

    <!-- back to top button -->
    <a href="#home" backToHomeBox style="transform: translateX(100px); transition: transform 0.3s ease-in-out;" class="p-1 rounded-md bg-[#ffffff33] backdrop-blur-[50px] size-[50px] fixed right-3 bottom-3 z-[40] active:bg-[#ffffff50]"></a>

    <div container_main class="relative overflow-x-hidden bg-bg">
        <!-- Header -->
        <header header_main class="fixed left-0 top-0 h-[80px] w-full flex justify-between items-center max-sm:p-2.5 p-4 z-50">
            <div class="flex"><h1 class="heading">Daksh Kishore</h1></div>
            <div>
                <label class="menubar scale-[0.5] sm:scale-[0.6] md:scale-[0.7]" for="checkMenuBox">
                    <input type="checkbox" id="checkMenuBox" openMenuBoxBtn>
                    <span class="bartop"></span>
                    <span class="barmiddle"></span>
                    <span class="barbottom"></span>
                </label>
            </div>
        </header>

        <!-- Nav Bar -->
        <div  mainNavContainer_Own mainNavContainer_RESP class="z-40 fixed left-0 top-0 size-full hidden">
            <!-- animation boxes bg -->
            <div navBgAnim_Own >
                <div></div>
                <div class="max-lsm:hidden"></div>
                <div class="max-lsm:hidden"></div>
                <div class="max-lsm:hidden"></div>
                <div class="max-lsm:hidden"></div>
            </div>
            <div navParentBox_GSAP class="size-full z-20">
                <div class="size-full flex items-center lsm:justify-around justify-center relative z-10 overflow-x-hidden ">
                    <nav navBtnAnimi_GSAP class="grid items-center gap-6 ">
                        <div class="flex lsm:justify-start justify-center items-center">
                            <button checked-button navButton class="py-2 p-4 xl:text-[40px] lg:text-[30px] md:text-[25px] lsm:text-[20px] text-[18px] lsm:font-Fthree font-Ftwo uppercase tracking-[2px]">About</button>
                        </div>
                        <div class="flex lsm:justify-start justify-center items-center">
                            <button navButton class="py-2 p-4 xl:text-[40px] lg:text-[30px] md:text-[25px] lsm:text-[20px] text-[18px] lsm:font-Fthree font-Ftwo uppercase tracking-[2px]">Project</button>
                        </div>
                        <div class="flex lsm:justify-start justify-center items-center">
                            <button navButton class="py-2 p-4 xl:text-[40px] lg:text-[30px] md:text-[25px] lsm:text-[20px] text-[18px] lsm:font-Fthree font-Ftwo uppercase tracking-[2px]">Resume</button>
                        </div>
                        <div class="flex lsm:justify-start justify-center items-center">
                            <button navButton class="py-2 p-4 xl:text-[40px] lg:text-[30px] md:text-[25px] lsm:text-[20px] text-[18px] lsm:font-Fthree font-Ftwo uppercase tracking-[2px]">Contact</button>
                        </div>
                    </nav>
                    <aside navAsideAnimi_GSAP class="grid items-center content-center gap-6 max-lsm:hidden">
                        <div class="xl:text-[35px] lg:text-[30px] md:text-[25px] text-[22px] font-Ftwo">Daksh Kishore</div>
                        <div>
                            <address class="lg:text-[18px] text-[16px]"><b>Residence : </b>Pakistan</address>
                            <address class="lg:text-[18px] text-[16px]"><b>State : </b>Sindh</address>
                            <address class="lg:text-[18px] text-[16px]"><b>City : </b>Karachi</address>
                        </div>
                        <div>
                            <div class="lg:text-[18px] text-[16px]">dakshkishore99@outlook.com</div>
                            <div class="lg:text-[18px] text-[16px]">+92 332-3041-190</div>
                        </div>
                        <div class="flex justify-start items-center gap-8 pb-5">
                            
                        </div>
                    </aside>
                </div>
            </div>
        </div>

        <!-- main One -->
        <main id="home" main_one class="relative">
            <div class="flex items-center justify-around size-full z-10 absolute top-[0px] left-0 p-10 max-lsm:p-5 max-sm:p-2.5 gap-[5%]">
                <div class="flex w-[65%] max-md:w-full">
                    <div class="grid justify-start items-center content-center gap-6">
                        <div class="mainHeading">Hi There!</div>
                        <div class="flex flex-wrap">
                            <span class="mainHeading">I Am&nbsp;</span>
                            <div class="flex">
                                <span animate_text_home class="mainHeading flex text-pri capitalize font-Fthree">
                                    <!-- Skills ShowCase -->
                                </span>
                                <span text_cursor class="mainHeading flex text-pri capitalize font-Ftwo">|</span>
                            </div>
                        </div>
                        <div class="xl:w-[650px]">Hello! My name is <span class="font-Ftwo capitalize">Daksh Kishore</span>, I reside in Pakistan. I am professional and experienced <span class="capitalize">web developer, MERN Developer, SEO Specialist</span> and <span class="capitalize">Social Media Marketer</span>.</div>
                        <div class="flex gap-3">
                            <a primary_btn class="inline-block" href="#about"><span>About Me</span></a>
                            <a primary_btn class="inline-block" href=""><span>Resume</span></a>
                        </div>
                    </div>
                </div>

                <div class="flex justify-center items-center max-md:hidden w-[30%]">
                    <img loading="lazy" tilt_element src="./cdns/img/user.webp" alt="Daksh Profile Pic" class="size-full min-w-[250px] min-h-[250px]">
                </div>
            </div>
        </main>

        <!-- About + Skill + Services Section -->
        <section id="about" section_two class="relative p-10 max-lsm:p-5 max-sm:p-2.5">
            <div class="darkOpacityBg"></div>
            <div class="z-10 relative mt-[100px]">
                <div class="max-w-[1200px] m-auto grid gap-48">
                    <!-- About Sec -->
                    <div class="grid gap-20">
                        <div>
                            <span class="mainHeading uppercase underlineHeading">About Me</span>
                        </div>
                        <div class="flex max-lg:flex-wrap gap-6">
                            <div class="grid gap-6 w-[65%] max-lg:w-[100%]">
                                <div>Hi, My name is <b>Daksh Kishore</b>, I reside in Pakistan. A professional and experienced Person on Information Technology.</div>
                                <!-- Mern And Web Dev -->
                                <div class="grid gap-2">
                                    <h1 class="secHeading text-pri">MERN & WEB Developer</h1>
                                    <p>With three years of front-end web development experience and one year specializing in the MERN stack, I bring a strong skill set to creating dynamic and responsive web applications. My journey began with mastering HTML, CSS, JavaScript and some Frameworks, where I improved my skills in crafting user interfaces. Transitioning to the MERN stack, including MongoDB, Express.js, React, and Node.js, has expanded my expertise to build powerful and scalable full-stack applications.</p>
                                </div>
                                <!-- SEO Specialist -->
                                <div class="grid gap-2">
                                    <h1 class="secHeading text-pri">SEO Specialist</h1>
                                    <p>With one year of SEO experience, I specialize in on-page and off-page optimization, keyword research, and content enhancement, effectively boosting website visibility and search rankings.</p>
                                </div>
                                <!-- Digital Marketing -->
                                <div class="grid gap-2">
                                    <h1 class="secHeading text-pri">Social Media Marketer</h1>
                                    <p>With one year of experience in social media marketing, I am skilled in managing campaigns, creating targeted content, and analyzing engagement metrics, which helps in boosting brand presence and audience growth.</p>
                                </div>
                            </div>
                            <div class="h-[80%] m-auto w-[2px] bg-bg2 max-lg:hidden"></div>
                            <div class="grid gap-2 items-start content-start max-lg:w-[100%]">
                                <h1 class="secHeading text-pri">Personal Info</h1>
                                <div class="grid gap-1">
                                    <div>
                                        <span class="font-Ftwo">Name :</span>
                                        <span>Daksh Kishore</span>
                                    </div>
                                    <div>
                                        <span class="font-Ftwo">Birth :</span>
                                        <span>Aug/25/2007</span>
                                    </div>
                                    <div>
                                        <span class="font-Ftwo">Residence :</span>
                                        <span>Pakistan</span>
                                    </div>
                                    <div>
                                        <span class="font-Ftwo">Address :</span>
                                        <span>Karachi, Sindh</span>
                                    </div>
                                    <div>
                                        <span class="font-Ftwo">Email :</span>
                                        <span>dakshkishore99@outlook.com</span>
                                    </div>
                                    <div>
                                        <span class="font-Ftwo">Phone :</span>
                                        <span>+92-3323041190</span>
                                    </div>
                                    <div>
                                        <span class="font-Ftwo">Freelance :</span>
                                        <span>Soon</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Skill Sec -->
                    <div class="grid gap-20">
                        <div><span class="mainHeading uppercase underlineHeading">My Skills</span></div>
                        <div progressBoxForAppend class="flex flex-wrap gap-2.5">
                            <!-- LangAndFrame append here -->
                        </div>
                    </div>
                    <!-- Experties -->
                    <div class="grid gap-20">
                        <div><span class="mainHeading underlineHeading">MY EXPERTISE</span></div>
                        <div class="grid gap-10 items-start">
                            <!-- Web Development Section -->
                            <section class="min-h-[350px] max-md:min-h-[300px] flex bg-gradient-to-r from-bg2 to-transparent from-0% to-100% rounded-s-[1000px] max-lg:rounded-s-[40px] max-md:rounded-s-[20px]">
                                <div class="w-[40%] flex justify-center items-center max-md:hidden">
                                    <img loading="lazy" src="./cdns/img/webDevImg.webp" alt="Web Development Image" class="h-[300px] max-lg:h-[250px]">
                                </div>
                                <div class="w-[60%] max-md:w-full max-md:p-5 md:py-10 grid items-center content-center gap-4">
                                    <h1 class="heading text-sec">Professional Web Developer</h1>
                                    <p>I am a skilled front-end web developer with 3 years of hands-on experience in creating dynamic and visually appealing websites. My expertise encompasses a variety of technologies, including HTML, CSS, and JavaScript, and I use frameworks and libraries to enhance my development work.</p>
                                </div>
                            </section>
                            <!-- MERN Development Section -->
                            <section class="min-h-[350px] max-md:min-h-[300px] flex bg-gradient-to-l from-bg2 to-transparent from-0% to-100% rounded-e-[1000px] max-lg:rounded-e-[40px] max-md:rounded-e-[20px]">
                                <div class="w-[60%] max-md:w-full max-md:p-5 md:py-10 grid items-center content-center gap-4 md:text-right">
                                    <h1 class="heading text-sec">Professional MERN Developer</h1>
                                    <p>I am a dedicated MERN stack web developer with 1 year of experience in building and maintaining high-quality web applications. My expertise lies in leveraging the MERN stack, which includes MongoDB, Express.js, React, and Node.js, to deliver robust and scalable solutions.</p>
                                </div>
                                <div class="w-[40%] flex justify-center items-center max-md:hidden">
                                    <img loading="lazy" src="./cdns/img/mernDevImg.webp" alt="MERN Development Image" class="h-[300px] max-lg:h-[250px]">
                                </div>
                            </section>
                            <!-- SEO Service Section -->
                            <section class="min-h-[350px] max-md:min-h-[300px] flex bg-gradient-to-r from-bg2 to-transparent from-0% to-100% rounded-s-[1000px] max-lg:rounded-s-[40px] max-md:rounded-s-[20px]">
                                <div class="w-[40%] flex justify-center items-center max-md:hidden">
                                    <img loading="lazy" src="./cdns/img/seoImg.webp" alt="SEO Specialist Image" class="h-[300px] max-lg:h-[250px]">
                                </div>
                                <div class="w-[60%] max-md:w-full max-md:p-5 md:py-10 grid items-center content-center gap-4">
                                    <h1 class="heading text-sec">Professional SEO Specialist</h1>
                                    <p>I am a skilled SEO Specialist with 1 year of experience in optimizing websites to improve their search engine rankings and drive organic traffic. My expertise involves employing a range of SEO strategies and techniques to enhance online visibility and achieve measurable results.</p>
                                </div>
                            </section>
                            <!-- SMM Service Section -->
                            <section class="min-h-[350px] max-md:min-h-[300px] flex bg-gradient-to-l from-bg2 to-transparent from-0% to-100% rounded-e-[1000px] max-lg:rounded-e-[40px] max-md:rounded-e-[20px]">
                                <div class="w-[60%] max-md:w-full max-md:p-5 md:py-10 grid items-center content-center gap-4 md:text-right">
                                    <h1 class="heading text-sec">Professional SMM</h1>
                                    <p>I am a Social Media Marketing (SMM) Specialist with 1 year of experience in creating and managing effective social media campaigns that drive engagement and brand awareness. My expertise lies in developing strategies and executing campaigns across various social media platforms.</p>
                                </div>
                                <div class="w-[40%] flex justify-center items-center max-md:hidden">
                                    <img loading="lazy" src="./cdns/img/smmImg.webp" alt="Social Media Marketing Image" class="h-[300px] max-lg:h-[250px]">
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer  class="relative mt-20 w-full h-[500px] max-lsm:h-[800px]">
            <iframe  loading="lazy" src="./html/footer.html" frameborder="0" height="100%" width="100%"></iframe>
        </footer>
    </div>


<!-- Module Main Js File -->
    <script type="module" src="./js/main.js"></script>
<!-- Packages -->
    <script type="module" src="./js/innerAssets/pack.js"></script>
<!-- GSAP & Own Animation Make-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="module" src="./js/innerAssets/animi.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js" integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
    <!-- <script type="module" src="../js/innerAssets/animationmodules/scrollAnimation.js"></script> -->
</body>
</html>